services:
  - type: web
    name: portfolio-website
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
  - type: web
    name: military-slots-explorer
    env: docker
    plan: free
    region: oregon
    autoDeploy: true
    rootDir: datasette_deploy
    dockerfilePath: ./Dockerfile
    healthCheckPath: /
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
